<div class="row" >
	<div class="col-md-4">
	  <div class="col text-center">
		<b style="font-size: 25px">คำนวณค่าโดยสารแบบส่วนต่อขยายที่ได้รับ</b>
	  </div>
  
	  <form [formGroup]="tripForm" #ngtripForm = "ngForm" (ngSubmit)="open(content)">
		<!-- ต้นทาง -->
		  <div class="startTrip">
			<div class="starTriptitle"><p>ต้นทาง</p></div>
			  <div class="container">
				<div class="form-group">
				<label for="category">สายต้นทาง</label>
				<select 
				formControlName="StartLineStation"
				class="form-control"
				id="linecolor" 
				(change)="onStartLineColorChange()"
				[class.is-invalid]=" this.tripForm.get('StartLineStation')?.value == 'เลือกสายต้นทาง' && ngtripForm.submitted "
	
				placeholder="เลือกสายต้นทาง"
				>
			  <option selected disabled>เลือกสายต้นทาง</option>
			  <option *ngFor="let line of lineStation" [ngValue]="line.color">
				>>{{line.lineStationNameTH}}
			  </option>
		  </select>
		  <span *ngIf="this.tripForm.get('StartLineStation')?.value == 'เลือกสายต้นทาง' && ngtripForm.submitted " class="danger">เลือกสายต้นทาง</span>
		</div>
		<div class="form-group">
		  <label for="subcategory">สถานีต้นทาง</label>
			  <select
				formControlName="StartStation"
				class="form-control"
				id="station_name"
				[class.is-invalid]=" (!this.tripForm.get('StartStation')?.value|| areStationsEqual()) && ngtripForm.submitted"
			  >
				<option selected disabled [value]=null>เลือกสถานีต้นทาง</option>
				<option
				  *ngFor="let startstation of selectedStartLineStations"
				  [ngValue]="startstation.id"
				>
				  >> {{ startstation.idStation }} | {{ startstation.btsStationNameTH }}
				</option>
			  </select>
			  <span *ngIf="!this.tripForm.get('StartStation')?.value && ngtripForm.submitted " class="danger">เลือกสถานีต้นทาง</span>
			  <span *ngIf=" areStationsEqual()  && ngtripForm.submitted  " class="danger">สถานีต้นทางและปลายทางซ้ำกัน</span>
		  </div>
		</div>
		</div>
		
	
		  <!-- ปลายทาง -->
		  <div class="endTrip">
			<div class="endTriptitle"><p>ปลายทาง</p></div>
			<div class="container">
			  <div class="form-group">
				<label for="category">สายปลายทาง</label>
				<select
				  formControlName="EndLineStation"
				  class="form-control"
				  id="linecolor"
				  (change)="onEndLineColorChange()"
				  [class.is-invalid]=" this.tripForm.get('EndLineStation')?.value == 'เลือกสายปลายทาง' && ngtripForm.submitted "
				>
				  <option selected disabled>เลือกสายปลายทาง</option>
				  <option *ngFor="let line of lineStation" [ngValue]="line.color">
					>>{{line.lineStationNameTH}}
				  </option>
				</select>
				<span *ngIf=" this.tripForm.get('EndLineStation')?.value == 'เลือกสายปลายทาง' && ngtripForm.submitted " class="danger">เลือกสายปลายทาง</span>
			  </div>
			  <div class="form-group">
				<label for="subcategory">สถานีปลายทาง</label>
				<select
				formControlName="EndStation"
				  class="form-control"
				  id="station_name"
				  [class.is-invalid]=" ( !this.tripForm.get('EndStation')?.value  || areStationsEqual()) && ngtripForm.submitted "
				>
				  <option selected disabled [value]=null >เลือกสถานีปลายทาง</option>
				  <option
					*ngFor="let endstation of selectedEndLineStations"
					[ngValue]="endstation.id"
				  >
				   >> {{ endstation.idStation }} | {{ endstation.btsStationNameTH }}
				  </option>
				</select>
				<span *ngIf=" !this.tripForm.get('EndStation')?.value   && ngtripForm.submitted  " class="danger">เลือกสถานีปลายทาง</span>
				<span *ngIf=" areStationsEqual()  && ngtripForm.submitted  " class="danger">สถานีต้นทางและปลายทางซ้ำกัน</span>
			  </div>
			</div>
		  </div>
		  <b class="danger">*สถานีต้นทาง และ ปลายทาง ห้ามซ้ำกัน*</b>
		  <button
		  type="submit"
		  class="btn btn-lg "
		  >
			ดูการเดินทาง
		  </button>
		  </form>
	 
	  
	  
	</div>
  
	<!-- map -->
	<div class="col-md-8">
	  <div class="img">
		<img src="/assets/mapbts.jpg" />
	  </div>
	</div>
  </div>

   <!-- modal -->
   <ng-template #content let-modal>
	<div class="modal-header">
	  <h4 class="modal-title" id="modal-basic-title">
		เส้นทางและอัตราค่าโดยสาร
	  </h4>
	  <button
		type="button"
		class="btn-close"
		aria-label="Close"
		(click)="closeModal()"
	  ></button>
	</div>
	<div class="modal-body">
	  <div class="row">
		<div class="col-md-12">ข้อมูลการเดินทาง</div>
		<!-- ต้นทาง -->
		<div
		  class="outline-box"
		  [ngStyle]="{
			'background-color':
			  this.tripResult.startStation.lineStaionModel.color === lineStation[0].color
				? 'green'
				: 'DarkCyan'
		  }"
		>
		<div class="row">
		  <div class="col-md-10 ">
			<div class="box">
			<label>สถานีต้นทาง</label>  
			<br />
			<b
			  >{{ this.tripResult.startStation.idStation }}
			  {{ this.tripResult.startStation.btsStationNameTH }} ||
			  {{ this.tripResult.startStation.btsStationNameENG }}
			  </b
			>
			<p>
				สาย{{this.tripResult.startStation.lineStaionModel.lineStationNameTH}}
			</p>
		  </div>
		</div>
		  <div class="col-md-2 ">
			<div class="container-center">
			  <div class="center">
				<a href="https://maps.app.goo.gl/{{this.tripResult.startStation.url}}" target="_blank">
					<div class='pin'></div>
					<div class='pulse'></div>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		</div>
		<div class="col-md-12 icon-south" ><mat-icon aria-hidden="false" aria-label="Example south icon" fontIcon="south"></mat-icon></div>
		<!-- ปลายทาง -->
		<div
		  class="outline-box"
		  [ngStyle]="{
			'background-color':
			  this.tripResult.endStation.lineStaionModel.color === lineStation[0].color
				? 'green'
				: 'DarkCyan'
		  }"
		>
		<div class="row">
		  <div class="col-md-10">
			<div class="box">
			  <label>สถานีปลายทาง</label>
			  <br />
			  <b>
				{{ this.tripResult.endStation.idStation }}
				{{ this.tripResult.endStation.btsStationNameTH }} ||
				{{ this.tripResult.endStation.btsStationNameENG }}
			  </b>
			  <p>
				สาย{{this.tripResult.endStation.lineStaionModel.lineStationNameTH}}
			</p>
			</div>
		  </div>
		  <div class="col-md-2 ">
			<div class="container-center">
			  <div class="center">
				<a href="https://maps.app.goo.gl/{{this.tripResult.endStation.url}}" target="_blank">
					<div class='pin'></div>
					<div class='pulse'></div>
				</a>
			  </div>
			</div>
		  </div>
		</div>
		 
		</div>
		<!-- ข้อมูล -->
		 <div class="outline-box">
		  <div class="row">           
			<div class="col-4">
			  <div class="box">
				<label> ราคา : </label>
				<br />
				<b class="price">{{ getPriceLabel() }}</b>
			  </div>
			</div>
			<div class="col-4">
			  <div class="box">
				<label> เวลา : </label>
				<br />
				<b class="time">{{ this.tripResult.time  }} นาที</b>
			  </div>
			</div>           
		 </div>
		 </div>  
	  </div>
	</div>
  </ng-template>
  