<div class="row" >
	<div class="col-4">
		<div class="col text-center">
			<b style="font-size: 25px">คำนวณค่าโดยสารแบบปกติ</b>
		</div>

		<!-- ต้นทาง -->
		<div class="startTrip">
			<div class="starTriptitle"><p>ต้นทาง</p></div>
			<div class="container">
				<div class="form-group">
					<label for="category">สายต้นทาง</label>
					<select
						class="form-control"
						id="linecolor"
						[(ngModel)]="selectedStartLineColor"
						(change)="onStartLineColorChange()"
					>
						<option selected disabled>เลือกสายต้นทาง</option>
						<option value="limegreen">สุขุมวิท</option>
						<option value="blue">สีลม</option>
					</select>
				</div>
				<div class="form-group">
					<label for="subcategory">สถานีต้นทาง</label>
					<select
						class="form-control"
						id="station_name"
						[(ngModel)]="selectedStartStation"
						[disabled]="selectedStartLineColor === 'เลือกสายต้นทาง'"
					>
						<option selected disabled>เลือกสถานีต้นทาง</option>
						<option
							*ngFor="let startstation of selectedStartLineStations"
							[ngValue]="startstation"
						>
							{{ startstation.idStation }} | {{ startstation.btsStationNameTH }}
						</option>
					</select>
				</div>
			</div>
		</div>
		<!-- ปลายทาง -->
		<div class="endTrip">
			<div class="endTriptitle"><p>ปลายทาง</p></div>
			<div class="container">
				<div class="form-group">
					<label for="category">สายปลายทาง</label>
					<select
						class="form-control"
						id="linecolor"
						[(ngModel)]="selectedEndLineColor"
						(change)="onEndLineColorChange()"
					>
						<option selected disabled>เลือกสายปลายทาง</option>
						<option value="limegreen">สุขุมวิท</option>
						<option value="blue">สีลม</option>
					</select>
				</div>
				<div class="form-group">
					<label for="subcategory">สถานีปลายทาง</label>
					<select
						class="form-control"
						id="station_name"
						[(ngModel)]="selectedEndStation"
						[disabled]="selectedEndLineColor === 'เลือกสายปลายทาง'"
					>
						<option selected disabled>เลือกสถานีปลายทาง</option>
						<option
							*ngFor="let endstation of selectedEndLineStations"
							[ngValue]="endstation"
						>
							{{ endstation.idStation }} | {{ endstation.btsStationNameTH }}
						</option>
					</select>
				</div>
			</div>
		</div>
		<!-- modal -->
		<ng-template #content let-modal>
			<div class="modal-header">
				<h4 class="modal-title" id="modal-basic-title">
					เส้นทางและอัตราค่าโดยสาร
				</h4>
				<button
					type="button"
					class="btn-close"
					aria-label="Close"
					(click)="modal.dismiss('Cross click')"
				></button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">ข้อมูลการเดินทาง</div>
					<!-- ต้นทาง -->
					<div
						class="col-md-12"
						[ngStyle]="{
							'background-color':
								this.tripResult[0].startStation.lineColor === 'limegreen'
									? 'green'
									: 'DarkCyan'
						}"
					>
						<div class="box">
							<label>สถานีต้นทาง</label>
							<br />
							<b
								>{{ this.tripResult[0].startStation.idStation }}
								{{ this.tripResult[0].startStation.btsStationNameTH }} ||
								{{ this.tripResult[0].startStation.btsStationNameENG }}</b
							>
							<p>
								<ng-container
									*ngIf="
										this.tripResult &&
											this.tripResult[0].startStation.lineColor ===
												'limegreen';
										else blueLine
									"
								>
									สายสุขุมวิท
								</ng-container>
								<ng-template #blueLine> สายสีลม </ng-template>
							</p>
						</div>
					</div>
					<!-- ปลายทาง -->
					<div
						class="col-md-12"
						[ngStyle]="{
							'background-color':
								this.tripResult[0].endStation.lineColor === 'limegreen'
									? 'green'
									: 'DarkCyan'
						}"
					>
						<div class="box">
							<label>สถานีปลายทาง</label>
							<br />
							<b>
								{{ this.tripResult[0].endStation.idStation }}
								{{ this.tripResult[0].endStation.btsStationNameTH }} ||
								{{ this.tripResult[0].endStation.btsStationNameENG }}
								</b>
							<p>
								<ng-container
									*ngIf="
										this.tripResult &&
											this.tripResult[0].endStation.lineColor === 'limegreen';
										else blueLine
									"
								>
									สายสุขุมวิท
								</ng-container>
								<ng-template #blueLine> สายสีลม </ng-template>
							</p>
						</div>
					</div>
					<!-- ข้อมูล -->
					<div class="col-md-12">
						<div class="box" >
							<label > ราคา : </label>
							<br>
							<b class="price">{{price}} บาท</b>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
		<b class="danger">*สถานีต้นทาง และ ปลายทาง ห้ามซ้ำกัน*</b>
		<button
			class="btn btn-lg btn-outline-primary"
			[disabled]="
				!selectedStartStation || !selectedEndStation || areStationsEqual()
			"
			(click)="
				getData(selectedStartStation.id, selectedEndStation.id);
				open(content)
			"
		>
			ดูการเดินทาง
		</button>
	</div>

	<!-- map -->
	<div class="col-8">
		<div class="img">
			<img src="/assets/mapbts.jpg" />
		</div>
	</div>
</div>
