.row{
	font-family: 'Mitr', sans-serif
}
.col-4 {
	padding: 40px;
}
.outline-box{
	border-radius: 14px; margin-top: 10px;
}
.img {
	width: 100%;
	height: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.danger{
	color: red;
}

.img img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.starTriptitle {
	color: white;
	width: 100%;
	height: 100%;
	background-color: green;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	font-size: large;
	display: flex;
	justify-content: center;
}

.endTriptitle {
	color: white;
	width: 100%;
	height: 100%;
	background-color: DarkCyan;
	border-top-left-radius: 14px;
	border-top-right-radius: 14px;
	font-size: large;
	display: flex;
	justify-content: center;
}

.container {
	padding: 20px;
	width: 100%;
	margin: auto;
}


.modal-header {
	background-color: rgb(8, 18, 114);
	color: white;
	font-family: 'Mitr', sans-serif;
}

.modal-body {
	font-size: large;
	border-radius: 8px;
	background-color: rgba(225, 225, 225, 0.848);
	padding: 20px;
	
}

.box {
	color: #000000;
	background-color: rgba(255, 255, 255, 0.707);
	border-radius: 8px;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.box p{
	font-size: 15px;
}
.price {
	font-size: 20px;
	color: green;
}
.time{
	font-size: 16px;
	color: rgb(0, 0, 0);
}

.box label {
	font-size: 14px;
}

label {
	font-weight: bold;
}

.startTrip {
	border: 2px solid green;
	border-radius: 16px;
}

.endTrip {
	margin-top: 20px;
	border: 2px solid DarkCyan;
	border-radius: 16px;
}

.btn {
	height: 50px;
	color: white;
	background-color: green;
	margin-top: 10px;
	width: 100%;
}
