.container{
	padding: 30px;
}
.money{
	color: green;
}
.warning{
	color: red;
}
.price-table th, .price-table td {
    width: 20%;
}
.col-md-6{
	padding: 20px;
}
.yellow{
	background-color: #ead200;
	color: #000;
}
.red{
	background-color: #d70000dd;
	color: #ffffff;
}
.green{
	background-color: green;
	color: #ffffff;
}