<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<div class="row g-3 " >
		<div class="contain">
		<div class="col-md-4 ">
			<div routerLink="/extension-bts" class="box">
				<div class="icon">
				   <img class="logo" src="/assets/mapExtension.png" alt="">
				</div>
				<div class="text">
				   <b>คำนวนค่าโดยสารส่วนต่อขยายที่ได้รับ</b>
				 </div>
			 </div>
		</div>
		<div class="col-md-4">
			<div routerLink="/bts-home" class="box">
				<div class="icon">
				   <img class="logo" src="/assets/map.png" alt="">
				</div>
				<div class="text">
				   <b>คำนวนค่าโดยสารปกติ</b>
				 </div>
			 </div>
		</div>
		<div class="col-md-4">
			<div routerLink="/admin" class="box">
				<div class="icon">
					<img class="logo" src="/assets/admin.png" alt="">
				 </div>
				 <div class="text">
					<b>admin</b>
				  </div>
			  </div>
		</div>
	</div>
	</div>

