<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="contain">
	<div routerLink="/extension-bts" class="box">
		<div class="icon">
		   <img class="logo" src="/assets/mapbts.jpg" alt="">
		</div>
		<div class="text">
		   <b>คำนวนค่าโดยสารส่วนต่อขยายที่ได้รับ</b>
		 </div>
	 </div>
  <div routerLink="/bts-home" class="box">
	 <div class="icon">
		<img class="logo" src="/assets/map.png" alt="">
	 </div>
	 <div class="text">
		<b>คำนวนค่าโดยสารปกติ</b>
	  </div>
  </div>
  <div routerLink="/admin" class="box">
	<div class="icon">
		<img class="logo" src="/assets/admin.png" alt="">
	 </div>
	 <div class="text">
		<b>admin</b>
	  </div>
  </div>
</div>
